doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet',href='styles.css')
  body
    .container.map
      #mapbox
      script(src='client.js')
    h1 Pug - node template engine
    .container.content
      - if (youAreUsingPug)
         You are amazing
      - else
         Get on it!
         Get on it!
         Get on it!
         Get on it!
